/* customizations for docpress */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$accent2: #25a;

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toc-menu {
  font-size: 13px;
  font-family: source sans pro, sans-serif;
}

/* no background for `code` */
.markdown-body code {
  background: transparent;
  font-family: 'Fira Mono', consolas, menlo, monospace;
  letter-spacing: -0.05em;
  color: #666;
}

.markdown-body code:before,
.markdown-body code:after {
  display: none;
}

.markdown-body pre code {
  color: #333;
}

.body {
  overflow-x: hidden;
}

.markdown-body pre {
  padding: 24px;
}

/* Update spacing */
.markdown-body {
  line-height: 1.7;

  p, blockquote, pre, ol, ul {
    margin-bottom: 1.7em;
  }
}

/* Update h2 heading style */
.markdown-body h2 {
  margin-top: 2em;
  font-family: source sans pro, sans-serif;
  font-weight: 300;
  color: $accent2;
  border-bottom: 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: .2em;
    background: linear-gradient(to right, #eee, rgba(#eee, 0));
  }
}

.markdown-body h1 {
  font-family: source sans pro, sans-serif;
  font-weight: 300;
  color: $accent2;
}

/* Big heading */
@media (min-width: 769px) {
  .page-index .markdown-body h1 {
    padding-top: 29vh;
    padding-bottom: 29vh;
    font-size: 5em;
    font-family: source sans pro, sans-serif;
    font-weight: 200;
    color: $accent2;
  }
}

/* Hide travis */
a[href^='https://travis-ci.org'] {
  display: none;
}
