/* customizations for docpress */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

$accent2: #25a;

/* Antialias */
* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Update menu */
.toc-menu {
  font-family: source sans pro, sans-serif;
}

/* no background for `code` */
.markdown-body {
  code {
    // background: transparent;
    $c: rgba(desaturate($accent, 20%), 0.03);
    background: linear-gradient(to bottom, transparent 15%, $c 15%, $c 85%, transparent 85%);
    letter-spacing: -.05em;
    margin: 0 .05em;
  }

  code:before,
  code:after {
    letter-spacing: -.35em;
  }

  pre {
    padding: 24px;
    box-shadow: inset 1px 1px rgba(black, 0.04);
    background: #fafbfb;
  }
}

/* Links and fonts */
.markdown-body {
  font-family: source sans pro, sans-serif;
  max-width: 740px;

  a {
    font-weight: bold;
    color: $accent;
  }
}

/* Update spacing */
.markdown-body {
  line-height: 1.7;

  p, blockquote, pre, ol, ul {
    margin-bottom: 1.7em;
  }

  h2 {
    margin-top: 2em;
  }

  h3 + p,
  h4 + p {
    margin-top: -.9em;
  }
}

/* Update h2 heading style */
.markdown-body {
  h2 {
    font-family: source sans pro, sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: $accent2;
  }

   h1 {
    font-family: source sans pro, sans-serif;
    font-weight: 300;
    color: $accent2;
  }

  h4 {
    font-size: 1.15em;
  }
}

/* Big heading */
@media (min-width: 769px) {
  .page-index .markdown-body h1 {
    padding-top: 29vh;
    padding-bottom: 29vh;
    font-size: 5em;
    font-family: source sans pro, sans-serif;
    font-weight: 200;
    color: $accent2;
  }
}

/* Hide travis */
a[href^='https://travis-ci.org'] {
  display: none;
}

/* Mad hero shot */
// $image: 'https://images.unsplash.com/photo-1441448770220-76743f9e6af6?q=80&fm=jpg&w=1080&fit=max&s=306e663b576aa39089a16b52354749f8';
// $str: .7;

// .page-index {
//   background:
//     linear-gradient(195deg, rgba(white, $str), rgba(white, $str + (1 - $str) * 0.9), white 600px),
//     url($image) top left / 100% auto;
// }

// .toc-menu {
//   box-shadow: inset -1px 0 rgba(black, .05);
//   background: rgba(white, 0.5);
// }
